html {
  font-family: 'Roboto', sans-serif;
}

body {
  font: 10px sans-serif;
}


input::-webkit-datetime-edit-fields-wrapper{
  -webkit-user-modify: read-only !important;
  display: none;
  padding: 1px 0;
  white-space: pre;
}

input:focus::-webkit-datetime-edit-fields-wrapper{
  -webkit-user-modify: read-only !important;
  display: inline-block;
  padding: 1px 0;
  white-space: pre;
}

div.mdl-textfield--floating-label.is-dirty > input::-webkit-datetime-edit-fields-wrapper{
  -webkit-user-modify: read-only !important;
  display: inline-block;
  padding: 1px 0;
  white-space: pre;
}

.candidate-list {
  max-height: 300px;
  overflow-y: scroll;
  padding-bottom: 15px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
  max-height: 100%;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.chart {
  width: 100%;
  min-height: 500px;
}

.content-grid {
  max-width: 960px;
}
