html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
}

.loader {
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 24px;
}

.btn {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

.candidate-list {
    max-height: 300px;
    overflow-y: scroll;
    padding-bottom: 15px;
}

.instruction-item {
	padding: 5px;
}


.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
    max-height: 100%;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.chart {
    width: 100%;
    min-height: 500px;
}

.content-grid {
    max-width: 960px;
}

.header {
    background-color: rgb(244, 67, 54);
    color: #FFFFFF;
    min-height: 50px;
    padding-bottom: 15px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.header > span {
    font-size: 24px;
    margin-left: 15%;
    margin-top: 5%;
}

.sub-header {
    text-align: center;
    border-bottom: 1px solid grey;
}

.sub-header > ul {
    list-style-type: none;
}

.sub-header > ul > li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.block.main {
    margin-left: 20%;
    width: 80%;
}

.block.date-range {
    width: 30%;
    margin-left: 30%;
}

.block.selected-candidates {
    width: 50%;
}

.block.candidate-search {
    width: 50%;
}

.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.date-range.container{
    padding-left: 0px;
}

rect.bordered {
    stroke: #E6E6E6;
    stroke-width:2px;
}

.background {
    opacity: .1;
    position: absolute;
    left: 22%;
    top: 25%;
}

.campaign-visualizer > iframe {
    width: 100%;
    height: 600px;
}

@media (max-width: 768px) {
    .search-tab {
        max-width: 9em;
    }

    .background {
        width: 90%;
        top: 25%;
        left: 5%;
    }
}

@media (min-width: 769px) {
    nav li.code-for-dc-logo a {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}
